.favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.favorite-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 80%;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.favorite-item button {
    
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.favorite-item button:hover {
    background-color: #d32f2f;
}